body { 
    font-size: 13px; 
    margin-bottom:50px; 
    font-family: 'Poppins', helvetica;
    color:#3F3F3F;
}

.header{
    background-color: #1c3f6d;
    margin: 0;
    box-shadow: 1px 1px 2px #1c3f6d;
    position: fixed;
    width:100%;
    z-index: 99;
    color:white;
}

.header h1{
    margin:0;
    padding:10px 20px;
    font-size: 3vh;
    font-weight: bolder;
    font-style: italic;
}

.header h2{
    margin:0;
    padding:10px 20px;
    font-size: 2vh;
    padding-top:0;
    font-weight: bolder;
    font-style: italic;
}

.search{
    width:80%;
    margin:0 auto;
    padding:15vh 0 7vh 0;
}

.search p{
    font-size:2vh;
    font-weight: bold;
}

.form{
    width:100%;
    background-color: #f5f6f6;
    box-shadow: 1px 1px 4px  #1c3f6d;
    border-radius: 5px;
    padding:2vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
}


.form input,select{
    padding:5px 15px;
    border-radius: 5px;
    border:0;
    margin-bottom:10px;
    border:1px solid #1c3f6d;
}

.date,.pramotion,.member{
    display:flex;
    flex-direction: column;
}

.button{
    padding:15px 50px;
    background-color:#f5bf1d;
    cursor: pointer;
    border: 0;
    font-weight: bold;
    margin-bottom:5px;
    border-radius: 5px;
    color:#1c3f6d;
}

.button:hover {
    color: #f5bf1d;
    background-color:#1c3f6d;
    transition:.15s ease-in-out;
}

.deals{
    width:80%;
    margin:0 auto;
    padding:1px 0;
}

.dealHeader{
    display:flex;
    justify-content: space-between;
    margin:20px 0;
} 

.dealHeader button{
    padding:5px;
}

.dealHeader p{
    margin-bottom: 0px;
    font-size:0.8rem;
    font-weight: bold;
}

.availability{
    background-color:#f5f6f6;
    border: 1px solid #f5bf1d;
    border-radius: 5px;
    font-weight: bold;
}

.dealItem{
    display:flex;
    border: 1px solid #1c3f6d;
    background-color: #f5f6f6;
    margin:20px 0;
    border-radius: 5px;
}

.carousel{
    flex:1;
    margin:10px;
    align-self: center;
}

.dealitemdesc{
    flex:2; 
    margin:10px;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    line-height: 20px;
    letter-spacing: 0.02rem;
}

.dealtimeHeading{
    font-weight:bold;
    display:flex;
    justify-content: space-between;
}

.dealtimeHeading h2{
    font-size: 3vh;
    font-weight: bolder;
    color:#1c3f6d;
}

.dealtimeHeading h4{
    font-size: 2.3vh;
    font-weight: bolder;
    color:#1c3f6d;
}

.dealItemButton{
    background-color: #f5bf1d;
    padding:5px 20px;
    border:0;
    color:#1c3f6d;
    border-radius: 5px;
    align-self: flex-end;
}

.dealItemButton:hover, .availability:hover{
    color: #f5bf1d;
    background-color:#1c3f6d;
    transition:.15s ease-in-out;
}


@media screen and (min-width:749px) and (max-width:950px){
    
    .search{
        padding:16vh 0 7vh 0;
    } 
    
    .button{
        margin:5px;
    }     
    
    .dealitemdesc{
        flex:1;
    }  
    
    .form input,select{
        margin-right:5px;
    }   
    
    .dealtimeHeading h4{
        font-size: 2vh;
        font-weight: bolder;
    }
    
}


@media screen and (min-width:320px) and (max-width:750px){
    
    body{
        font-size: 12px;
    }

    .search{
        width:90%;
        padding:16vh 0 7vh 0;
    }   
    
    .button{
        margin:5px;
    } 
    
    .deals{
        width: 90%;

    }   

    .dealItem{
        flex-direction: column;
    }

    .carousel{
        max-width:40%;
    }

    .dealHeader{
        flex-direction:column;
    }
    
    .dealHeader button{
        width:auto;
        padding:10px;
    }

    .dealHeader p{
        margin-bottom: 1rem;
    }

    .form input,select{
        margin-right:0px;
    } 

    .dealItemButton{
        align-self:center;
    }
    
  }